BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: true
ColumnLimit: 100
PointerAlignment: Left
AllowShortFunctionsOnASingleLine: None
SpaceAfterCStyleCast: true
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
SortIncludes: false